---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

const { pageTitle } = Astro.props

function getTitle(...args: string[]) {
  return !!args[0] ? args.join(' | ') : args[1]
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width;initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{getTitle(pageTitle, "Recolecta Agua, Recolecta Vida")}</title>
	</head>
	<body>
		<Header />
        <slot />
        <Footer />
        <script src="https://kit.fontawesome.com/466a0b8fee.js" crossorigin="anonymous"></script>
	</body>
</html>

<style is:global>
	:root {
		--beige-claro: #F1FAEE;
		--gris-oscuro: #1D3557;
		--verde-musgo: #457B9D;
		--celeste-suave: #A8DADC;
		--amarillo-suave: #F4A261;
  }

  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-family: system-ui, sans-serif;
    font-size: medium;
  }

  body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
  }

  header,
  main,
  footer {
    width: 100%;
  }

  main {
    flex-grow: 1;

    display: grid;
    grid-template-columns: auto 1fr auto;
  }

	section {
		grid-column: 1 / 4;
	}

  .btn-primary {
		background-color: var(--verde-musgo);
		color: var(--beige-claro);
		padding: 0.75rem 2rem;
		font-size: 1.125rem;
		border: none;
		border-radius: 0.25rem;
		text-decoration: none;
		display: inline-block;
		transition: background-color 0.2s;
  }

  .btn-primary:hover {
    background-color: rgba(90, 124, 90, 0.9);
  }

  .btn-outline {
		border: 2px solid var(--gris-oscuro);
		color: var(--gris-oscuro);
		background-color: transparent;
		padding: 0.75rem 2rem;
		font-size: 1.125rem;
		border-radius: 0.25rem;
		text-decoration: none;
		display: inline-block;
		transition: background-color 0.2s;
  }

  .btn-outline:hover {
    background-color: rgba(74, 74, 74, 0.1);
  }
</style>